@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Hello World</h1>
    <p class="lead">This is a Hello World Client/Server application running on .NetCore framework.</p>

    <h3>@ViewData["ClientMessage"]</h3>
    <h3>@ViewData["ServerMessage"]</h3>
</div>
