<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="application" type="ADF.Configuration.ConfigurationSettings.ApplicationSectionLoader, ADF.Configuration"/>
    <section name="instance" type="ADF.Configuration.ConfigurationSettings.InstanceSettingsLoader, ADF.Configuration"/>
    <section name="instrumentation" type="ADF.Configuration.ConfigurationSettings.InstrumentationSettingsLoader, ADF.Configuration"/>
    <section name="exceptionHandling" type="ADF.Configuration.ConfigurationSettings.ExceptionHandlingSettingsLoader, ADF.Configuration"/>
    <section name="tracing" type="ADF.Configuration.ConfigurationSettings.TracingSettingsLoader, ADF.Configuration"/>
    <section name="dataBases" type="ADF.Configuration.ConfigurationSettings.DatabaseSettingsLoader, ADF.Configuration"/>
    <section name="XML" type="ADF.Configuration.ConfigurationSettings.XMLSettingsLoader, ADF.Configuration"/>
    <section name="remoteServices" type="ADF.Configuration.ConfigurationSettings.RemoteServices.RemoteServicesSettingsLoader, ADF.Configuration"/>
    <section name="distributedTransaction" type="ADF.Configuration.ConfigurationSettings.DistributedTransactionSettingsLoader, ADF.Configuration"/>
  </configSections>
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
        Set compilation debug="true" to insert debugging symbols (.pdb information)
        into the compiled page. Because this creates a larger file that executes
        more slowly, you should set this value to true only when debugging and to
        false at all other times. For more information, refer to the documentation about
        debugging ASP.NET files.
  -->
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.0"/>
    <!--  CUSTOM ERROR MESSAGES
        Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
        Add <error> tags for each of the errors you want to handle.
   -->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION 
        This section sets the authentication policies of the application. Possible modes are "Windows", 
        "Forms", "Passport" and "None"
  -->
    <authentication mode="Windows"/>
    <identity impersonate="false"/>
    <!--  AUTHORIZATION 
        This section sets the authorization policies of the application. You can allow or deny access
        to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
        (unauthenticated) users.
  -->
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
           <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
     -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
        Application-level tracing enables trace log output for every page within an application. 
        Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
        trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
        application trace log by browsing the "trace.axd" page from your web application
        root. 
  -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
        By default ASP.NET uses cookies to identify which requests belong to a particular session. 
        If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
        To disable cookies, set sessionState cookieless="true".
  -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
        This section sets the globalization settings of the application. 
  -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <runtime>
    <!--  Garbage Collector
        If your application is single-threaded and involves heavy user interaction, leave concurrent garbage 
           collection enabled so the application does not pause to perform garbage collection. 
        If your application is a server application that is heavily multithreaded and is not UI intensive, turn 
           off concurrent garbage collection to improve performance.
        gcConcurrent enabled="true"  : Runs garbage collection concurrently. This is the default.
        gcConcurrent enabled="false" : Does not run garbage collection concurrently. 
  -->
    <gcConcurrent enabled="false"/>
  </runtime>
  <application Name="AUT" Version="Under Construction;1"/>
  <instance Name="AUT"/>
  <instrumentation ServiceName="UTRWS" InstanceName="UTR" Stage="DVLP" Zone="Intranet" UsePerformanceCounters="Yes"/>
  <exceptionHandling level="Full" minSeverityLevel="High" mode="Off">
    <publisher mode="On" logtype="Eventlog" applicationName="AUT.UCM" logName="UTRWS" level="Simple" minSeverityLevel="High"/>
    <publisher mode="Off" logtype="Database" ServerName="APMPROD.sidmar.be" TransportType="File" FileLocation="c:\temp APM AUT" level="Full" minSeverityLevel="Warning"/>
    <publisher mode="On" logtype="File" fileName="C:\Log\UCM Training Webservices CS-Errors.log" daily="True" level="Full" maxSeverityLevel="Critical" minSeverityLevel="Warning"/>
    <publisher mode="On" logtype="File" fileName="C:\Log\UCM Training Webservices CS-Warnings.log" daily="True" level="Full" maxSeverityLevel="Warning" minSeverityLevel="Low"/>
  </exceptionHandling>
  <tracing Mode="True" File="C:\Log\UCM Training Webservices CS Tracing.log" TraceLevel="Application" OutputFormat="DateTimeAndText"/>
  <dataBases>
    <Database LogicalName="myOracleDatabase" ConnectionString="Data source=ORADB;User ID=SIDLIBA;Password=mypsw;" ProviderType="MSORA"/>
    <Database LogicalName="mySQLDatabase" ConnectionString="UID=SQL;PWD=DOTNET;Initial Catalog=AUT;Data Source = SQL8DVLP1.SIDMAR.BE\V01;" ProviderType="MSSQL"/>
  </dataBases>
  <XML>
    <Path Maps=".\..\XML\Maps\" OutputSpecs=".\..\XML\Specs\"/>
  </XML>
  <remoteServices HostName="." Port="9003"/>
  <distributedTransaction TimeOut="60" IsolationLevel="ReadCommitted">
    <Coordinator ServerName="."/>
  </distributedTransaction>
</configuration>