<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <system.web>
    <identity
      impersonate="false"
      xdt:Transform="SetAttributes(impersonate)"/>
  </system.web>
  
  <application
      Version="{UCM.Version}"
      xdt:Transform="SetAttributes(Version)">
  </application>

  <instrumentation
      Stage="{UCM.Environment}"
      xdt:Transform="SetAttributes(Stage)">
  </instrumentation>
  <instrumentation
      InstanceName="{UCM.Instance}"
      xdt:Transform="SetAttributes(InstanceName)">
  </instrumentation>
  
  <exceptionHandling>
    <publisher
       applicationName="{UCM.Instance}-{UCM.Environment}"
       xdt:Transform="SetAttributes(applicationName)"
       xdt:Locator="Condition(@logtype='Eventlog')" />
  </exceptionHandling>  
  <exceptionHandling>
    <publisher
       mode="On"
       xdt:Transform="SetAttributes(mode)"
       xdt:Locator="Condition(@logtype='Database')" />
  </exceptionHandling>
  <exceptionHandling>
    <publisher
       fileName="C:\WebSrvLog\{UCM.Instance}\UCM Training Services CS-{UCM.Environment} - Critical.log"
       xdt:Transform="SetAttributes(fileName)" 
       xdt:Locator="Condition(@logtype='File' and @minSeverityLevel='Warning'])" />
  </exceptionHandling>
  <exceptionHandling>
    <publisher
       fileName="C:\WebSrvLog\{UCM.Instance}\UCM Training Services CS-{UCM.Environment} - Warning.log"
       xdt:Transform="SetAttributes(fileName)"
       xdt:Locator="Condition(@logtype='File' and @minSeverityLevel='Low'])" />
  </exceptionHandling>

  <tracing
    File="C:\WebSrvLog\{UCM.Instance}\UCM Training Services CS-{UCM.Environment} - Trace.log"
    xdt:Transform="SetAttributes(File)">
  </tracing>

  <dataBases>
    <Database
       ConnectionString="Initial Catalog=AUT;Data Source = {DB.NTW.NAME}\{DB.INST.NAME};Integrated Security=SSPI;"
       xdt:Transform="SetAttributes(ConnectionString)"
       xdt:Locator="Condition(@LogicalName='mySQLDatabase')" />
  </dataBases>

  <remoteServices
    HostName="{AMS.HST.NAME}"
    Port="{AMS.HST.PORT}"
    xdt:Transform="SetAttributes(HostName, Port)">
  </remoteServices>
  
  <distributedTransaction
      TimeOut="120"
      xdt:Transform="SetAttributes(TimeOut)">
    <Coordinator
        ServerName="{TRAN.SRV.NAME}"
        xdt:Transform="SetAttributes(ServerName)">
    </Coordinator>
  </distributedTransaction>

</configuration>
