<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\CS\Client\ADF.UCM.Demo.HIC\packages.config" />
  <repository path="..\CS\Client\ADF.UCM.Demo.WebServices.Proxy\packages.config" />
  <repository path="..\CS\Server\ADF.UCM.Demo.BC\packages.config" />
  <repository path="..\CS\Server\ADF.UCM.Demo.BS\packages.config" />
  <repository path="..\CS\Server\ADF.UCM.Demo.PFS\packages.config" />
  <repository path="..\CS\Server\ADF.UCM.Demo.SIC\packages.config" />
  <repository path="..\CS\Server\ADF.UCM.Demo.Webservices\packages.config" />
  <repository path="..\CS\Setup\ADF.UCM.Demo.HIC.CS.WixSetup\packages.config" />
  <repository path="..\CS\Setup\ADF.UCM.Demo.WebServices.CS.WixSetup\packages.config" />
  <repository path="..\CS\Tests\ADF.UCM.Demo.BC.Tests\packages.config" />
  <repository path="..\CS\Tests\ADF.UCM.Demo.HIC.Tests\packages.config" />
  <repository path="..\CS\Tests\ADF.UCM.Demo.Webservices.Tests\packages.config" />
</repositories>