<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <bindingRedirects>
    <add key="skip" value="false" />
  </bindingRedirects>
  <!--
  <apikeys>
    <add key="http://xxxx:123/nuget/nuget" value="theKey" />
  </apikeys>
  <packageSources>
    <add key="Corporate Nuget Feed" value="http://xxxx:123/nuget/nuget" />
  </packageSources>
  -->
  <disabledPackageSources />
  <!--
  <activePackageSource>
    <add key="Corporate Nuget Feed" value="http://xxxx:123/nuget/nuget" />
  </activePackageSource>
  -->
  <config>
    <add key="repositorypath" value="..\packages" />
  </config>
</configuration>
