<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <bindingRedirects>
    <add key="skip" value="false" />
  </bindingRedirects>
  <apikeys>
    <add key="http://packagefeeds.sidmar.be:81/nuget/nuget" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA3F8CN3ucS0mOAHsYsdfNDgAAAAACAAAAAAADZgAAwAAAABAAAADXXlD1vrs/iX3jlmYikqwNAAAAAASAAACgAAAAEAAAAFi+Q/rYZaJA9o+huGQEH8sQAAAAKHlk/rz5E1kxpOAvrEctExQAAAAXbskFLUi37HIucVDoTncT70wAPA==" />
  </apikeys>
  <packageSources>
    <add key="Corporate Nuget Feed" value="http://packagefeeds.sidmar.be:81/nuget/nuget" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="Corporate Nuget Feed" value="http://packagefeeds.sidmar.be:81/nuget/nuget" />
  </activePackageSource>
  <config>
    <add key="repositorypath" value="..\packages" />
  </config>
</configuration>
