<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <application
      Version="{UCM.FileVersion}"
      xdt:Transform="SetAttributes(Version)">
  </application>

  <instance
      Name="{UCM.Instance}"
      xdt:Transform="SetAttributes(Name)">
  </instance>

  <instrumentation
      InstanceName="{UCM.Instance}"
      xdt:Transform="SetAttributes(InstanceName)">
  </instrumentation>
  <instrumentation
      Stage="{UCM.Environment}"
      xdt:Transform="SetAttributes(Stage)">
  </instrumentation>

  <exceptionHandling>
    <publisher
       applicationName="{UCM.Instance}-{UCM.Environment}"
       xdt:Transform="SetAttributes(applicationName)"
       xdt:Locator="Condition(@logtype='Eventlog')" />
  </exceptionHandling>
  <exceptionHandling>
    <publisher
       fileName="{CLT.DIR.LOG}\{UCM.Instance}\UCM Training Client CS-{UCM.Environment} Errors.log"
       xdt:Transform="SetAttributes(fileName)"
       xdt:Locator="Condition(@logtype='File')" />
  </exceptionHandling>

  <tracing
    File="{CLT.DIR.LOG}\{UCM.Instance}\UCM Training Client CS-{UCM.Environment}_Trace.log"
    xdt:Transform="SetAttributes(File)">
  </tracing>

  <appSettings>
    <add key ="myBuildName"    value="{TFS.BuildDefinitionName}" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key ="myBuildComment" value="{TFS.BuildComment}" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key ="CurrentDate" value="{TFS.Date:yyyy/MM/dd}" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key ="BuildId" value="{TFS.BuildId}" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>

  <usedWebServices>
    <usedWebService
       URL="http://{WF.NTW.NAME:localhost}:{WF.NTW.PORT}/AUTServices.CSDemo/Services.asmx"
       xdt:Transform="SetAttributes(URL)"
       xdt:Locator="Condition(@LogicalName='AUT Training Services')" />
  </usedWebServices>
</configuration>
