<?xml version="1.0" encoding="utf-8"?>
<!-- test VS2010 b -->
<configuration>
  <configSections>
    <section name="application" type="ADF.Configuration.ConfigurationSettings.ApplicationSectionLoader, ADF.System"/>
    <section name="instance" type="ADF.Configuration.ConfigurationSettings.InstanceSettingsLoader, ADF.System"/>
    <section name="instrumentation" type="ADF.Configuration.ConfigurationSettings.InstrumentationSettingsLoader, ADF.System"/>
    <section name="exceptionHandling" type="ADF.Configuration.ConfigurationSettings.ExceptionHandlingSettingsLoader, ADF.System"/>
    <section name="tracing" type="ADF.Configuration.ConfigurationSettings.TracingSettingsLoader, ADF.System"/>
    <section name="usedWebServices" type="ADF.Configuration.ConfigurationSettings.UsedWebServiceSettingsLoader, ADF.System"/>
  </configSections>

  <application Name="AUT" Version="Under Construction;1"/>


  <instance Name="AUT"/>

  <instrumentation ServiceName="UTRCLT" InstanceName="UTR" Stage="DVLP" Zone="Intranet" UsePerformanceCounters="No"/>

  <exceptionHandling level="Full" minSeverityLevel="High" mode="Off">
    <publisher mode="On" logtype="File" fileName="C:\Log\UCM Training Client CS.txt" daily="True" level="Full" maxSeverityLevel="High"/>
    <publisher mode="Off" logtype="Eventlog" applicationName="AUT.NET" logName="UCM Training CS Client" level="Medium" minSeverityLevel="High"/>
    <publisher mode="Off" logtype="WMI" level="Full" minSeverityLevel="High"/>
  </exceptionHandling>

  <tracing Mode="True" File="C:\Log\UCM Training NUnit Tests.log" TraceLevel="Application" OutputFormat="DateTimeAndText"/>

  <appSettings>
    <add key="a" value="xxx"/>
    <add key="mySetting" value="will be set during installation"/>
  </appSettings>

  <usedWebServices>
    <usedWebService LogicalName="AUT Training Services" URL="http://localhost:80/AUTServices.CSDemo/Services.asmx" ConnectionRetryCount="3" ConnectionRetryDelay="2"/>
  </usedWebServices>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
