<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <application
      Version="{UCM.FileVersion}"
      xdt:Transform="SetAttributes(Version)">
  </application>

  <instance
      Name="{UCM.Instance}"
      xdt:Transform="SetAttributes(Name)">
  </instance>

  <instrumentation
      InstanceName="{UCM.Instance}"
      xdt:Transform="SetAttributes(InstanceName)">
  </instrumentation>
  <instrumentation
      Stage="{UCM.Environment}"
      xdt:Transform="SetAttributes(Stage)">
  </instrumentation>
  
  <exceptionHandling>
    <publisher
       applicationName="{UCM.Instance}-{UCM.Environment}"
       xdt:Transform="SetAttributes(applicationName)"
       xdt:Locator="Condition(@logtype='Eventlog')" />
  </exceptionHandling>  
  <exceptionHandling>
    <publisher
       fileName="{CLT.DIR.LOG}\{UCM.Instance}\UCM Training NUnit Tests-{UCM.Environment} Errors.log"
       xdt:Transform="SetAttributes(fileName)" 
       xdt:Locator="Condition(@logtype='File')" />
  </exceptionHandling>

  <tracing
    File="{CLT.DIR.LOG}\{UCM.Instance}\UCM Training NUnit Tests-{UCM.Environment}_Trace.log"
    xdt:Transform="SetAttributes(File)">
  </tracing>
 
  <usedWebServices>
    <usedWebService
       URL="http://{WF.NTW.NAME}:{WF.NTW.PORT}/AUTServices.CSDemo/Services.asmx"
       xdt:Transform="SetAttributes(URL)"
       xdt:Locator="Condition(@LogicalName='AUT Training Services')" />
  </usedWebServices>
</configuration>
